Support more  http methods

Now, spectest support below method;
- GET
- POST
- PUT
- DELETE
- PATCH

These method are defined in RFC 7231 section 4.3. The spectest is not supported them.
- HEAD
- CONNECT
- OPTIONS
- TRACE

Done. See #36